body, html{
    height: 100vh;
    width:100vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#page1 .container{
    background: url("./images/brown-mountain.png") no-repeat ;
    background-size: 200%;
    background-position: top;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.laLogo{
    position: relative;
    height: 100%;
    width: 100%;
}
.laLogo img{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,0%);

}
nav{
    height:75px;
    margin: auto;
    /* width: 60%; */
}
nav a{
    text-decoration: none;
    color: white;
}

nav li{
    display: inline-block;
    margin-left: 2em;
}
#page2 nav{
    background-color: #61759d;
}
#page2 nav li:first-child{
    margin-right: auto;
}

nav li:hover{
    text-decoration: underline;
}


nav ul{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    width: 60%;
    height: 100%;
    align-items:center;
    margin: 0 auto;
}


#page2 .container{
    background: url("./images/dark-mountain.png") no-repeat ;
    background-size:cover;
    height: 100%;
    width: 100%;
}

.nav2{
    background-color: darkblue;

}

.containernav2{
    padding: 0;
    margin: 0;
    width: 100%;
}

.containernav2{
    display: flex;
    justify-content: center;
}

.containernav2, a{
    text-decoration: none;
    color: white;

}

.containernav2 li{
    display: inline-block;
    margin-left: 2em;
    
}

.containernav2 li:hover{
    text-decoration: underline;
}


.containernav2 ul{
    display: flex;
   
    justify-content: flex-end;
    padding: 0;
    width: 70vw;
}

.containernav2 nav{
    display: flex;
    justify-content: space-around;
}

.nav2{
    /* width: 100vh; */
    position: relative;
}
#page2 .container{
    height: 100vh;
    width:100vw;
    position: relative;
}
.title{
    position: relative;
}
.title p{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-weight: 800;
}
.title p:first-child{
    font-size: 10rem;
    letter-spacing: -1rem;
    color: #647f94;
}
.title p:last-child{
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 10rem;
    color: #414f6c;
}
.info{
    position: absolute;
    left: 20%;
    z-index: 300;
}
.info>p{
    margin: 0;
}
#page3 .info>p{
    width: 50%;
}

table {
    position: absolute;
    left: 25%;
    top: 20%;
    box-shadow: 3px grey;
    border: 1px;
    background:rgba(255,255,255, 0.8);
    padding: 2em;
}

td {
    margin-right: 2em;
}

th {
    line-height: 1em;
    font-size: 3em;
    padding-bottom: 2rem;
    letter-spacing: -.1rem;
}

.climbbackground {
    background-color: #62769e;
    width: 100vw;
    height: 180px;
}

.info p{
    display: inline-block;
}

.info .title {
    display: inline-block;
    width: 30%;
}
#page3 .nav{
    position: relative;;
    max-height: 40px;
    background-color: #3f4f6b;
    width: 100vw;
    height: 20vw;
}
#page3 ul{
    position: absolute;
left: 10%;
    list-style: none;
    margin: 0;
    overflow: visible;
}
#page3 li{
    display: inline-block;
    padding: 1.5rem;
    margin:  -15px 0 0;
    background-color: #afb4be;
    color: white;
}
#page3 li a {
    color: #3f4f6b;
    text-transform: uppercase;
    text-decoration: underline;
}
.mountains{
    height: 60vh;
    background-size: 70%;
}
#mountain1{
    background: url(./images/faded-mountain.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -5;
}
#mountain2{
    background: url(./images/third-mountain.png) no-repeat;
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -5;
}
footer nav ul{
    justify-content: flex-start;
}

footer {
    display: flex;
}

footer nav {
    display: inline-block;
}

footer .copyright {
    display: inline-block;
    margin: auto;
    color: #62769e;
}

.copyright {
    font-style: italic;
}

footer {
    bottom: 0;
    background-color: #182443;
}

#mountain1button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#mountain2button:hover {
    cursor: pointer;
    text-decoration: underline;
}

li .nav2 {
    color: #62769e;
}

/*carousel*/
* {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  figure {
      margin: .2em;
  }
  .glider-contain {
      margin: auto;
      /* height: 100%; */
      /* display: flex;
      align-items: flex-end ; */
      width: 70%;
  }

  .carousel {
      width: 100vw;
      height: 25vw;
  }